node_modules/
.pnp
.pnp.js
dist/
build/
.next/
out/
.env
.env.local
.env.*.local
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
logs/
*.log
npm-debug.log*
yarn-debug.log*
prisma/migrations/
.prisma/
.cache/
sw.js
sw.js.map
workbox-*.js*
